/* line 7, ../scss/page.scss */
body {
  margin: 0;
  padding: 0;
  background: #101010;
  color: #f0f0f0;
}

/* line 14, ../scss/page.scss */
h1 {
  margin: 0;
  padding: .5em;
}

/* line 18, ../scss/page.scss */
h2 {
  text-align: left;
  margin: 0 0 1em 0;
  padding: .5em 0 .5em 1em;
  background: #00b3df;
  color: #f0f0f0;
  z-index: 10;
}
/* line 26, ../scss/page.scss */
h2 img {
  position: relative;
  bottom: .5em;
  float: right;
  padding: 0 0 1em 1em;
}

/* line 33, ../scss/page.scss */
h3 {
  text-align: left;
  margin: 1em 0 .2em 0;
  padding: .5em 1em 0 10%;
  color: #00b3df;
  border-bottom: .2em solid;
}

/* line 47, ../scss/page.scss */
p,
code,
ul,
li,
.ui,
.panel {
  position: relative;
  display: block;
  max-width: 40em;
  margin: 1em auto 0 auto;
  padding: 1em;
}

/* line 55, ../scss/page.scss */
pre,
code {
  clear: both;
  background: #d6d6d6;
}

/* line 61, ../scss/page.scss */
ul,
li {
  margin: 0 auto;
  padding: 0;
}

/* line 68, ../scss/page.scss */
.section {
  position: relative;
  width: 90%;
  margin: 3em auto 0 auto;
  padding: 0;
  border: #00b3df;
  background: #f0f0f0;
  color: #101010;
}

/* line 82, ../scss/page.scss */
.demo {
  margin: 1em auto 2em auto;
  padding: 1em;
  background: #d6d6d6;
}

/* line 87, ../scss/page.scss */
.demo-marker {
  position: relative;
  bottom: 1em;
  right: 2em;
  display: inline;
  padding: 1em 2em;
  background: #00b3df;
  color: #f0f0f0;
}

/* line 99, ../scss/page.scss */
.ui {
  margin: 0 auto;
  padding: 0;
}

/* line 105, ../scss/page.scss */
.tabs .title {
  margin: 0;
}

/* line 109, ../scss/page.scss */
.panel {
  margin: 0;
  padding: 1em;
}

/* line 114, ../scss/page.scss */
.scrolli {
  font-size: 1.4em;
}

/* line 117, ../scss/page.scss */
.blocklink {
  background: #FEFEFE;
  border: #111 1px solid;
}
/* line 121, ../scss/page.scss */
.blocklink:hover {
  border-color: #00b3df;
}

/* line 125, ../scss/page.scss */
.equalize {
  position: relative;
  display: block;
}

/* line 129, ../scss/page.scss */
.equalize > div {
  display: inline-block;
  vertical-align: text-top;
  width: 30%;
  margin: 1%;
  background: #FEFEFE;
}
