/* line 1, ../scss/ui.scss */
.ui {
  display: block;
  margin: 0 auto;
  max-width: 60em;
  padding: 0;
  list-style: none;
  /*
      .blocklink {
      display:block;
      padding:1em;
      background:#EEE;
      color:#555;
      border:1px solid;
      
      &:hover,
      &.active{
      background:#FFF;
      color:#111;
      }
      
      a {
      padding: .5em 1em;
      background:#333;
      color:#FFF;
      }
      
  */
}
/* line 8, ../scss/ui.scss */
.ui .title {
  margin: 0;
  padding: .5em 1em;
  cursor: pointer;
  background: #AAA;
  color: #FFF;
  font-size: .8em;
}
/* line 16, ../scss/ui.scss */
.ui .title:hover {
  background: #777;
}
/* line 20, ../scss/ui.scss */
.ui .content {
  display: block;
  padding: 1em;
  border: #DDD .1em solid;
  margin: 0;
  padding: 1em;
}
/* line 30, ../scss/ui.scss */
.ui .active .title {
  background: #111;
}
/* line 35, ../scss/ui.scss */
.ui.next, .ui.back {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 3em;
  background: #222;
  background: rgba(40, 40, 40, 0.2);
  color: #FFF;
  cursor: pointer;
}
/* line 46, ../scss/ui.scss */
.ui.next {
  right: 0;
}
/* line 47, ../scss/ui.scss */
.ui.back {
  left: 0;
}
/* line 49, ../scss/ui.scss */
.ui.menu {
  position: relative;
  list-style: none;
  width: 20%;
  margin: 0;
  padding: 0;
  z-index: 10;
}
/* line 57, ../scss/ui.scss */
.ui.menu a {
  background: #FEFEFE;
  color: #222;
  padding: 1em;
}
/* line 64, ../scss/ui.scss */
.ui.menu a:hover, .ui.menu a:active, .ui.menu a:focus {
  background: #CCC;
  color: #111;
}
/* line 70, ../scss/ui.scss */
.ui.menu.mini {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: transparent url(images/menu.png) no-repeat;
}
/* line 76, ../scss/ui.scss */
.ui.menu.mini li {
  position: relative;
  top: 32px;
  width: 10em;
}
/* line 85, ../scss/ui.scss */
.ui .tab {
  display: inline-block;
}
/* line 88, ../scss/ui.scss */
.ui .tab .title {
  display: inline-block;
  border-right: .1em solid;
}
/* line 97, ../scss/ui.scss */
.ui .panel {
  display: block;
  margin: 0;
  padding: 1em;
  background: #FFF;
  border: #DDD .1em solid;
}
/* line 126, ../scss/ui.scss */
.ui.carousel {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0 3em;
  background: #EEE;
}
/* line 134, ../scss/ui.scss */
.ui.carousel li {
  display: inline-block;
  padding: 1em;
}
/* line 140, ../scss/ui.scss */
.ui.sticky {
  position: absolute;
  top: 1em;
  left: 1em;
  background-color: #FFF;
  color: #111;
  border: .2em solid;
  list-style: disc;
}
/* line 149, ../scss/ui.scss */
.ui.sticky a {
  display: block;
  padding: .5em;
  font-size: 1.2em;
  background: #FFF;
  color: #111;
}
/* line 156, ../scss/ui.scss */
.ui.sticky a:visited {
  color: #555555;
}
/* line 161, ../scss/ui.scss */
.ui.sticky a:hover, .ui.sticky a:active, .ui.sticky a:focus {
  background: #CCC;
  color: #111;
}
/* line 167, ../scss/ui.scss */
.ui.sticky.mini {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: transparent url(images/menu.png) no-repeat;
  border: none;
}
/* line 174, ../scss/ui.scss */
.ui.sticky.mini li {
  position: relative;
  top: 32px;
  width: 10em;
}
