/*****
    Cell :: Style
    
    (c)2012 Adam Blankenship
*****/
//////
#logo {
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    
    & > a {
        display:block;
        text-indent:-999em;
        /* Match logo dimensions to create logo button  */
        width:$logo_width;
        height:$logo_height;
        padding: $logo_offset;
        background: url($logo_url) $logo_offset $logo_offset no-repeat;
    }
    
    & > a:hover {
        @include box-shadow(inset 0 0 1em $c3);
    }
}

#copyright {
    float: right;
    padding: .5em 1em;
    background: $cd2;
    color: $cd1;
    font-size: $p_size * .8;
}