///////
// Cellular :: Configuration
// (c)2012 Adam Blankenship
///////
/////
@import "compass/css3/shared";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "mixins";
/////

$prefix: -webkit-, -moz-, -o-, -ms-, null;
$adjust : 10%; // Param used to lighten / darken

// Set stylesheet breakpoints
$res_mobile : 650px;
$res_large : 1024px;

// Logo
$logo_url : 'images/logo.png';
$logo_width : 64px;
$logo_height : 64px;
$logo_offset : 1em;// used to set padding & background-position


// Color swatches
$cyan : #29B4DE;
$magenta : #DD2A99;
$yellow : #DDDD2A;
$red : #8C0D00;
$green : #57DD2A;
$blue : #00598E;
//Greyscale
$white : #FEFEFE;
$grey_l : #CCC;
$grey_d : #333;
$black : #101010;

// Transparent Overlay
$o1 : rgba(255,255,255,0.9);
$o2 : rgba(40,40,40,0.9);

// Background Images
$img1 :  url(images/ps_neutral.png) repeat;
$img2 :  url(images/honeycomb_dark.png) repeat;
$img3 :  url(images/honeycomb_xtradark.png) repeat;

// Set primary colors
$c1 : $white;
$c2 : $black;
$c3 : $cyan;

// Set derivative colors
$cd1 : darken($c1, $adjust);
$cd2 : lighten($c2, $adjust);
$cd3 : lighten($c3, $adjust);

// Typography
// Body
$p_font : "SegoeUI", "Helvetica", sans-serif;;
$p_size : 1em;
$p_height : 1.6em;
$p_max_width : 40em;
$p_color : $black;
$p : $p_size/$p_height $p_font;
//Links
$a_color : #32769e;
// Headings
$h_font : "Quicksand";
$h_size : $p_size * 2.25;//h1 size
$h_weight : normal;
$h_color : #27cafc;


// Borders & Spacing
$pad : 1em;
$default-border-radius : .2em;
$border_radius : 0.2em;
$border_color : #CCC #DDD #EEE;
$border : thin solid;


// Transitions: $property, $duration, $easing
$trans-duration : 300ms;
$trans-easing : ease-out;
$trans : all $trans-duration $trans-easing;

// Shadows: $h-offset $v-offset $blur $spread
$shadow : 0 0 .5em .5em;
//$shadow_big : 0 0 1em 1em;
//$shadow_med : 0 0 .5em .5em;
//$shadow_small : 0 0 .25em .25em;
