/*****
    Cellular :: CSS RESET
*****/

html {
    overflow:scroll;
}

body,
div,
span,
a,
// Typography
h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
b,
em,
i,
blockquote,
quote,
q,
sub,
sup,
pre,
code,
// Lists & Tables
hr,
table,
th,
td,
dl,
dt,
dd,
ul,
ol,
li,
// Forms
form,
fieldset,
legend,
input,
textarea,
// HTML5
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    position: relative;
    display: block;
    margin:0;
    padding:0;
}

span,
a,
strong,
b,
em,
i,
big,
small,
sub,
sup,
quote,
q,
button,
input[type="button"],
input[type="submit"],
audio,
canvas,
video {
    display: inline;
    display: inline-block;
}

table {
    display: table;
}
th,
td {
    display: table-cell;
}
fieldset,
img {
    border:0;
}