/*****
Cellular :: Social media
*****/
/////
$offset : .5em;
/////

// Containers for social links
#social-follow,
#social-sharing {
    position: relative;
    width: 100%;
    padding: 0 0 1em 0;
    background: $c1;
    border-top: $c2 1em solid;
    overflow: hidden;
    
        form {
            margin: 0;
            padding: 0;
        }
    h2, h3 {
        font-size: 1em;
        font-weight: bold;
    }
}
#social-follow {}
#social-sharing {}

// Set parameters common to all social links
.social-link {
    float: left;
    padding: $offset;
    text-indent: -999em;
    background-color: #000;
    margin: .3em .5em;
}

// Separate identifiers/images are used for follow & share to allow unique styling
// May be incorporated under .social-link if preferred
.follow {
    width: 32px;
    height: 32px;
    
    &.facebook {background: url('images/social_media/facebook.png') $offset $offset no-repeat;}
    &.google {background: url('images/social_media/google+.png') $offset $offset no-repeat;}
    &.twitter {background: url('images/social_media/twitter.png') $offset $offset no-repeat;}
    &.myspace {background: url('images/social_media/myspace.png') $offset $offset no-repeat;}
    &.linkedin {background: url('images/social_media/linkedin.png') $offset $offset no-repeat;}
    &.pinterest {background: url('images/social_media/pinterest.png') $offset $offset no-repeat;}
    &.reddit {background: url('images/social_media/reddit.png') $offset $offset no-repeat;}
}
.share {
    width: 32px;
    height: 32px;
    margin: .3em;
    
    &.facebook {background: url('images/social_media/facebook.png') $offset $offset no-repeat;}
    &.google {background: url('images/social_media/googleplus.png') $offset $offset no-repeat;}
    &.twitter {background: url('images/social_media/twitter.png') $offset $offset no-repeat;}
    &.myspace {background: url('images/social_media/myspace.png') $offset $offset no-repeat;}
    &.linkedin {background: url('images/social_media/linkedin.png') $offset $offset no-repeat;}
    &.pinterest {background: url('images/social_media/pinterest.png') $offset $offset no-repeat;}
    &.reddit {background: url('images/social_media/reddit.png') $offset $offset no-repeat;}
}
/*
.svg {
    .follow {
        width: 2em;
        height: 2em;
    }
    .share {
        width: 2em;
        height: 2em;
    }
    .facebook {background: url('images/social_media/fc/fc-webicon-facebook.svg');}
    .google {background: url('images/social_media/fc/fc-webicon-googleplus.svg');}
    .twitter {background: url('images/social_media/fc/fc-webicon-twitter.svg');}
    .myspace {background: url('images/social_media/myspace.svg');}
    .linkedin {background: url('images/social_media/fc/fc-webicon-linkedin.svg');}
    .pinterest {background: url('images/social_media/fc/fc-webicon-pinterest.svg');}
    .reddit {background: url('images/social_media/fc/fc-webicon-reddit.svg');}
}
*/
