/*****
    Cellular :: Mobile
    
    (c)2012 Adam Blankenship
*****/

@media screen and (max-width: $res_mobile) {
    /*  Debug box
        * {
        background: #000 !important;
        color: #0f0 !important;
        outline: solid #f00 1px !important;
        }
    */ 
    
    h1, h2, h3, h4, h5, h6 {
        padding: 0;
        text-align: center;
    }
    
    input[type=text],
    input[type=email],
    input[type=password],
    textarea {
        line-height:2em;
        height: 2em;
        width: 98%;
        margin: 0 auto;
        padding: 0;
    }
    textarea {
        height: auto;
    }
    input[type=submit]{
        line-height: 2em;
        padding: .5em 1em;
    }
    //////
    
    #logo {
        position: relative;
        margin: 0 auto;
        
        &:after {
            display: none;
        }
        & > a {
            width: 100%;
            background-position: 50% 50%;
            margin:0;
            padding:.5em;
            background-color: #222;
            
            &:hover {
                background-color:$black;
            }
        }
    }
    
    #nav {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        
        ul {
            height: auto;
        }
        li,a {
            height: auto;
            line-height: auto;                        
        }
        
        li {
            width: 46%;
            margin:1%;
            padding:0;
            text-align: center;
            border-left: none;
            border-right: none;
            border-top: $black 1px solid;
            border-bottom: $black 1px solid;
        }
        a, a:link, a:visited {
            border-left: none;
            border-right: none;
            border-top: #555 1px solid;
            border-bottom: #555 1px solid;
            height:4em;
            line-height:4em;
            //padding: 1em;
        }
        a {
            &:hover, 
            &:focus,
            &:active {
            }
        }
    }
    
    #page-wrap {
    }
    
    #content-wrap {
        font-size: 1.4em;
        line-height: 1.6em;
    }
    
    #header {
        height:auto;
    }
    
    #app {
    }
    
    #content-wrap {
    }
    
    #content-sidebar-left,  
    #content-sidebar-right {
    }
    
    .item {
        text-align: center;
    }
    
    .jumbo {
        font-size: 2.4em;
    }
    
}