/*****
    Cell :: Style
    
    (c)2012 Adam Blankenship
*****/
//////
$region_margin : 0;
$region_padding : 0;
$region_border : 0;
$region_space : ($region_margin * 2) + ($region_padding * 2) + ($region_border * 2);

//////

body {
    background: $c1;
    //@include gradient_rad($white, $white, $light_grey);
}
#page-wrap {
    overflow: hidden;
}
#page-title {
}
// Set styles common to all regions
#console,
#banner,
#hilight,
#content,
#sidebar-left,
#sidebar-right,
#bifold,
#bifold-left,
#bifold-right,
#triptych,
#triptych_left,
#triptych_middle,
#triptych_right,
#content-bottom,
#footer,
#footer_left,
#footer_right {
    margin: $region_margin;
    padding: $region_padding;
    border: $region_border;
}

#header-top {
    z-index: 3;
    height: 2em;
    border-bottom: $black $border;
    background: #222;
    color: $white;
    
    // Custom type for region
    a, a:link {}
    a:visited {}
    a:focus, a:hover, a:active {}
    
    h1, h2, h3, h4, h5, h6 {}
    h1 {}
    h2 {}
    h3 {}
    h4 {}
    h5 {}
    h6 {}
    
    p {}
}

#header {
    height: 64px;
    padding: 10px;
    z-index: 2;
    background: $grey_d;
    border-bottom: $black $border;
    
    // Custom type for region
    a, a:link {}
    a:visited {}
    a:focus, a:hover, a:active {}
    
    h1, h2, h3, h4, h5, h6 {}
    h1 {}
    h2 {}
    h3 {}
    h4 {}
    h5 {}
    h6 {}
    
    p {}
}

#app {
}

// Style regions based on sidebar display
// Widths should be set using grid classes in theme settings
.single-sidebar {
    #content-position {
    }
    #content {
    }
    #sidebar-left,
    #sidebar-right {
    }
}

.dual-sidebars {
    #content-position {
    }
    #content {
    }
    #sidebar-left,
    #sidebar-right {
    }
}

#content-position {
    display: block;
        max-width: 100% - $region_space;
    margin: 0 auto;
}

#content-wrap {
    padding:0 0 0 0;
}

#console {
    padding: 1em; 
    margin: 1em;
    background: #222; 
    color: #00F000;
    font-family: monospace;
    font-weight: bold;
    
    .error {
        font-size: 1.1em;
        font-weight: bold;
        background: $red;
        color: #FFF;
        border: darken($red, $adjust) 1em solid;
    }
}

#banner {
    background: $c3;
    color: $white;
    border-bottom: $c1 $border;
    margin: 0 0 2em 0;
    
    &:after {
        content: " ";
        position:absolute;
        bottom: -3m;
        height: 0;
        left: 0;
        right: 0;
// "Pop-out" effect
  // border-top: 2em solid #111;
  // border-left: 3em solid transparent;
  // border-right: 3em solid transparent;
   
    }
    // Custom type for region
    a, a:link {}
    a:visited {}
    a:focus, a:hover, a:active {}
    
    h1, h2, h3, h4, h5, h6 {
        color: $white;
    }
    
    h1 {}
    h2 {}
    h3 {}
    h4 {}
    h5 {}
    h6 {}
    
    p {
        color: $white;
    padding: 0 7%;
    }
}

#hilight {
    // Custom type for region
    a, a:link {}
    a:visited {}
    a:focus, a:hover, a:active {}
    
    h1, h2, h3, h4, h5, h6 {}
    h1 {}
    h2 {}
    h3 {}
    h4 {}
    h5 {}
    h6 {}
    
    p {}
}

#content,
#sidebar-left,
#sidebar-right,
#footer {
}

#content {
    background-color: $white;
    background-color: $o1;
    z-index: 2;
    
    // Custom type
    a, a:link {}
    a:visited {}
    a:focus, a:hover, a:active {}
    
    h1, h2, h3, h4, h5, h6 {}
    h1 {}
    h2 {}
    h3 {}
    h4 {}
    h5 {}
    h6 {}
    
    p {}
}

#sidebar-left,
#sidebar-right {
    z-index: 3;
    font-size: $p_size * .9;
    
    // Custom type
    a, a:link {
    }
    a:visited {
    }
    a:focus, a:hover, a:active {
    }
    
    h1, h2, h3, h4, h5, h6 {
    }
    h1 {
    }
    h2 {
    }
    h3 {
    }
    h4 {
    }
    h5 {
    }
    h6 {
    }
    
    p {
    }
}

#sidebar-left {
    //background: $img2;
}

// Right Sidebar
#sidebar-right {
    //background: $img2;
}

#bifold {
}
#bifold-left {
}
#bifold-right {
}

#triptych {
}
#triptych_left {
}
#triptych_middle {
}
#triptych_right {
}

#content-bottom {
}

#footer {
    background: $c2;
    color: $c1;
    
    // Custom type for region
    a, a:link {
        color: $c3;
    }
    a:visited {
    }
    a:focus, a:hover, a:active {
        color: lighten($c3, $adjust);
    }
    
    h1, h2, h3, h4, h5, h6 {
    }
    h1 {
    }
    h2 {
    }
    h3 {
    }
    h4 {
    }
    h5 {
    }
    h6 {
    }
    
    p {
    }
}
#footer_left {
}
#footer_right {
}
#footer-bottom {
    background: $c2;
    color: $c1;
    border-top: $black $border;
    
    // Custom type for region
    a, a:link {}
    a:visited {}
    a:focus, a:hover, a:active {}
    
    h1, h2, h3, h4, h5, h6 {}
    h1 {}
    h2 {}
    h3 {}
    h4 {}
    h5 {}
    h6 {}
    
    p {}
}
