/*****
Cellular :: Classes
    
(c)2012 Adam Blankenship
*****/

// Jump menus
.jumper {
    list-style: none;
    background: $c1;
}
// Used for comments & posts
.post-date {
    // position: relative;
    //display: block;
    margin: 0 auto 1em auto;
    padding: .2em .5em;
    font-size: .8em;
    text-align: center;
    color: $grey_l;
    border-bottom: $border;
    
    .post-day,
    .post-month,
    .post-year {
        display: inline-block;
        padding: .2em .5em;
    }
}


.aside {
    float: left;
    color: $grey_l;
    margin: 1em 2em 1em 2em;
    
    li {
        list-style: none;
        font-family: $h_font;
        font-weight: bold;
    }
}
.jumbo {
    max-width: 8em;
    padding: 0;
    font-family: $h_font;
    font-weight: bold;
    font-size: 8em;
    line-height: 1em;
}

.dropCap:first-letter {
    font-size: 1.3em;
    font-weight: bold;
}

.textShadow {
    text-shadow: 1px 1px 3px #777;
}

$ry_offset : 0.75em;
$rx_offset : 1em;
.ribbon {
    position: relative;
    margin: 0 -1em 1em -1em;
    padding: 0 1em;
    border-bottom: $p_color $border;
    background: $c3;
    color: $c1;
}
.ribbon:before,
.ribbon:after {
    content: " ";
    position: absolute;
    bottom: -$ry_offset;
    border-top: $black $ry_offset solid;
}
.ribbon:before {
    border-left: $rx_offset solid transparent;
    left:0;
}
.ribbon:after {
    border-right: $rx_offset solid transparent;
    right: 0;
}

// Image Gallery
.gallery {
    text-align: center;
    
    div,
    a,
    img {
        display: inline-block;
        margin: 0 auto;
    }
    
}

.item {
    z-index:9;
    text-align: center;
    
    &:hover {
        background: lighten($c3, 30%);
        z-index:10;
    }
    
    h3 {
        line-height:2em;
        font-size:1.2em;
        font-weight: bold;
        margin:0;
        padding:0;
        border-bottom:$c3 .4em solid;
    }
    img {
        
    }
    .content{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        background: $c2;
        background: rgba(40,40,40,0.9);
        z-index:10;
        
                h3{
                    margin:0;
                    text-align:center;
                    background:#111;
                }
        p {
            padding: 1em;
            color: $white;
        }
                
        a {
            display:block;
            padding:0 1em;
            height: 2em;
            line-height: 2em;
            font-weight: bold;
            color: $white;
            background: $c3;
            
            &:hover {
                color: $white;
                text-decoration: underline;
            }
        }        
        .demo{
            position: absolute;
            bottom:-2em;
        }
    }
}