/* *************
Cellular :: Large
Styling for larger/more images for larger screens.
    
(c)2012 Adam Blankenship
*************** */

@media screen and (min-width: $res_large) {
       
body {
   // background: url(images/background-large.png) no-repeat center center;
}
    // Show drop-down links for large screens
    #nav {
        li li {
            float:none;
            padding:.1em 0 0 0;
            
            a, a:link, a:visited {
                white-space:nowrap;
                display:block;
            }
            a:hover, a:focus, a:active {
            }
        }
        
        // First nested menu
        li > ul {
            font-size: .9em;
            margin:0;
            padding:.5em .3em;
            background:$o1;
            border: $border;
            z-index:99;
        }
        li:hover > ul {
            left:0;
        }
        
        // Second nested menu
        li > ul li ul {
            font-size: .9em;
            margin:0;
            padding:.5em .3em;
            background:$o1;
            border: $border;
            z-index: 100;
        }
        li > ul li:hover > ul {
            left:1em;
        }
    }

#header {
    // background: url(images/large-background-header.png) no-repeat;
}

#logo {
    
    &:hover {
    }
    & > a {
    }
}

#page-wrap {
    //@include bg_cover($white, images/bg_photo.jpg);
}

#footer {
    // background: $black url(images/honeycomb_dark.png) repeat;
}

    //////
}