/*****
    Cellular :: Social media
*****/
/////
$width : 32px;
$height : 32px;
$offset : .5em;
/////

#icons {
    

        li {
            float: left;
        }
// Set parameters common to all social links
.icon {
    display: block;
    text-indent: -999em;//hide text
    width: $width;
    height: $height;
    margin: .3em .5em;
    padding: $offset $offset $offset ($offset + 1em);
    background-color: #333;
    
    &:hover {
        background-color: #111;
        
    }
    
    &.facebook {background: url('icons/social/facebook1.png') $offset $offset no-repeat;}
    &.facebook2 {background: url('icons/social/facebook2.png') $offset $offset no-repeat;}
    &.googleplus {background: url('icons/social/googleplus1.png') $offset $offset no-repeat;}
    &.googleplus2 {background: url('icons/social/googleplus2.png') $offset $offset no-repeat;}
    &.googleplus-g {background: url('icons/social/googleplus-g1.png') $offset $offset no-repeat;}
    &.googleplus-g2 {background: url('icons/social/googleplus-g2.png') $offset $offset no-repeat;}
    &.twitter {background: url('icons/social/twitter1.png') $offset $offset no-repeat;}
    &.twitter2 {background: url('icons/social/twitter2.png') $offset $offset no-repeat;}
    &.twitter-b {background: url('icons/social/twitterb1.png') $offset $offset no-repeat;}
    &.twitter-b2 {background: url('icons/social/twitterb2.png') $offset $offset no-repeat;}
    &.myspace {background: url('icons/social/myspace1.png') $offset $offset no-repeat;}
    &.myspace2 {background: url('icons/social/myspace2.png') $offset $offset no-repeat;}
    &.linkedin {background: url('icons/social/linkedin1.png') $offset $offset no-repeat;}
    &.linkedin2 {background: url('icons/social/linkedin2.png') $offset $offset no-repeat;}
    &.pinterest {background: url('icons/social/pinterest1.png') $offset $offset no-repeat;}
    &.pinterest2 {background: url('icons/social/pinterest2.png') $offset $offset no-repeat;}
    &.reddit {background: url('icons/social/reddit.png') $offset $offset no-repeat;}
    
    &.behance {background: url('icons/social/behance.png') $offset $offset no-repeat;}
    &.delicious {background: url('icons/social/delicious.png') $offset $offset no-repeat;}
    &.deviantart {background: url('icons/social/deviantart.png') $offset $offset no-repeat;}
    &.digg {background: url('icons/social/digg.png') $offset $offset no-repeat;}
    &.flickr {background: url('icons/social/flickr.png') $offset $offset no-repeat;}
    &.github {background: url('icons/social/github1.png') $offset $offset no-repeat;}
    &.github2 {background: url('icons/social/github2.png') $offset $offset no-repeat;}
    &.grooveshark {background: url('icons/social/grooveshark.png') $offset $offset no-repeat;}
    &.skype {background: url('icons/social/skype.png') $offset $offset no-repeat;}
    &.slashdot {background: url('icons/social/slashdot.png') $offset $offset no-repeat;}
    &.soundcloud {background: url('icons/social/soundcloud.png') $offset $offset no-repeat;}
    &.stackoverflow {background: url('icons/social/stackoverflow.png') $offset $offset no-repeat;}
    &.stumbleupon {background: url('icons/social/stumbleupon.png') $offset $offset no-repeat;}
    &.technorati {background: url('icons/social/technorati.png') $offset $offset no-repeat;}
    &.youtube {background: url('icons/social/youtube.png') $offset $offset no-repeat;}
    
    &.home {background: url('icons/ui/home.png') $offset $offset no-repeat;}
    &.wrench {background: url('icons/ui/wrench.png') $offset $offset no-repeat;}
    &.gear {background: url('icons/ui/gear.png') $offset $offset no-repeat;}
    &.key {background: url('icons/ui/key.png') $offset $offset no-repeat;}
    &.lock {background: url('icons/ui/lock.png') $offset $offset no-repeat;}
    &.cart {background: url('icons/ui/cart.png') $offset $offset no-repeat;}
    &.user {background: url('icons/ui/user.png') $offset $offset no-repeat;}
    &.user-social {background: url('icons/ui/user-social.png') $offset $offset no-repeat;}
    &.eye {background: url('icons/ui/eye.png') $offset $offset no-repeat;}
    &.pano {background: url('icons/ui/panorama.png') $offset $offset no-repeat;}
    &.camera {background: url('icons/ui/camera.png') $offset $offset no-repeat;}
    &.menu {background: url('icons/ui/menu.png') $offset $offset no-repeat;}
    &.folder {background: url('icons/ui/folder.png') $offset $offset no-repeat;}
    &.zip {background: url('icons/ui/zip.png') $offset $offset no-repeat;}
    &.doc {background: url('icons/ui/doc.png') $offset $offset no-repeat;}
    &.printer {background: url('icons/ui/printer.png') $offset $offset no-repeat;}
    &.html5 {background: url('icons/ui/html5.png') $offset $offset no-repeat;}
    &.css3 {background: url('icons/ui/css3.png') $offset $offset no-repeat;}
    &.jquery {background: url('icons/ui/jquery.png') $offset $offset no-repeat;}
    &.angular {background: url('icons/ui/angular.png') $offset $offset no-repeat;}
    &.php {background: url('icons/ui/php.png') $offset $offset no-repeat;}
    &.wordpress {background: url('icons/ui/wordpress.png') $offset $offset no-repeat;}
    &.drupal {background: url('icons/ui/drupal.png') $offset $offset no-repeat;}
    &.codeigniter {background: url('icons/ui/codeigniter.png') $offset $offset no-repeat;}
    &.symfony {background: url('icons/ui/symfony.png') $offset $offset no-repeat;}
    &.rss {background: url('icons/ui/rss.png') $offset $offset no-repeat;}
    &.email {background: url('icons/ui/email.png') $offset $offset no-repeat;}
    &.email2 {background: url('icons/ui/email2.png') $offset $offset no-repeat;}
    &.phone {background: url('icons/ui/phone.png') $offset $offset no-repeat;}
    &.phone2 {background: url('icons/ui/phone2.png') $offset $offset no-repeat;}
    &.phone3 {background: url('icons/ui/phone3.png') $offset $offset no-repeat;}
    &.chat {background: url('icons/ui/chat.png') $offset $offset no-repeat;}
    &.mobile {background: url('icons/ui/mobile.png') $offset $offset no-repeat;}
    &.laptop {background: url('icons/ui/laptop.png') $offset $offset no-repeat;}
    &.desktop {background: url('icons/ui/desktop.png') $offset $offset no-repeat;}
    &.w3c {background: url('icons/ui/w3c.png') $offset $offset no-repeat;}
    &.creativecommons {background: url('icons/ui/creativecommons.png') $offset $offset no-repeat;}
    &.android {background: url('icons/ui/android.png') $offset $offset no-repeat;}
    &.linux {background: url('icons/ui/linux.png') $offset $offset no-repeat;}
    &.mac {background: url('icons/ui/mac.png') $offset $offset no-repeat;}
    &.mac2 {background: url('icons/ui/mac2.png') $offset $offset no-repeat;}
    &.windows {background: url('icons/ui/windows.png') $offset $offset no-repeat;}
    &.windows2 {background: url('icons/ui/windows2.png') $offset $offset no-repeat;}
}


// Use Modernizr to test SVG support
    .svg {
    &.facebook {background: url('icons/social/facebook1.svg') $offset $offset no-repeat;}
    &.facebook2 {background: url('icons/social/facebook2.svg') $offset $offset no-repeat;}
    &.googleplus {background: url('icons/social/googleplus1.svg') $offset $offset no-repeat;}
    &.googleplus2 {background: url('icons/social/googleplus2.svg') $offset $offset no-repeat;}
    &.googleplus-g {background: url('icons/social/googleplus-g1.svg') $offset $offset no-repeat;}
    &.googleplus-g2 {background: url('icons/social/googleplus-g2.svg') $offset $offset no-repeat;}
    &.twitter {background: url('icons/social/twitter1.svg') $offset $offset no-repeat;}
    &.twitter2 {background: url('icons/social/twitter2.svg') $offset $offset no-repeat;}
    &.twitter-b {background: url('icons/social/twitterb1.svg') $offset $offset no-repeat;}
    &.twitter-b2 {background: url('icons/social/twitterb2.svg') $offset $offset no-repeat;}
    &.myspace {background: url('icons/social/myspace1.svg') $offset $offset no-repeat;}
    &.myspace2 {background: url('icons/social/myspace2.svg') $offset $offset no-repeat;}
    &.linkedin {background: url('icons/social/linkedin1.svg') $offset $offset no-repeat;}
    &.linkedin2 {background: url('icons/social/linkedin2.svg') $offset $offset no-repeat;}
    &.pinterest {background: url('icons/social/pinterest1.svg') $offset $offset no-repeat;}
    &.pinterest2 {background: url('icons/social/pinterest2.svg') $offset $offset no-repeat;}
    &.reddit {background: url('icons/social/reddit.svg') $offset $offset no-repeat;}
    
    &.behance {background: url('icons/social/behance.svg') $offset $offset no-repeat;}
    &.delicious {background: url('icons/social/delicious.svg') $offset $offset no-repeat;}
    &.deviantart {background: url('icons/social/deviantart.svg') $offset $offset no-repeat;}
    &.digg {background: url('icons/social/digg.svg') $offset $offset no-repeat;}
    &.flickr {background: url('icons/social/flickr.svg') $offset $offset no-repeat;}
    &.github {background: url('icons/social/github1.svg') $offset $offset no-repeat;}
    &.github2 {background: url('icons/social/github2.svg') $offset $offset no-repeat;}
    &.grooveshark {background: url('icons/social/grooveshark.svg') $offset $offset no-repeat;}
    &.skype {background: url('icons/social/skype.svg') $offset $offset no-repeat;}
    &.slashdot {background: url('icons/social/slashdot.svg') $offset $offset no-repeat;}
    &.soundcloud {background: url('icons/social/soundcloud.svg') $offset $offset no-repeat;}
    &.stackoverflow {background: url('icons/social/stackoverflow.svg') $offset $offset no-repeat;}
    &.stumbleupon {background: url('icons/social/stumbleupon.svg') $offset $offset no-repeat;}
    &.technorati {background: url('icons/social/technorati.svg') $offset $offset no-repeat;}
    &.youtube {background: url('icons/social/youtube.svg') $offset $offset no-repeat;}
    
    &.home {background: url('icons/ui/home.svg') $offset $offset no-repeat;}
    &.wrench {background: url('icons/ui/wrench.svg') $offset $offset no-repeat;}
    &.gear {background: url('icons/ui/gear.svg') $offset $offset no-repeat;}
    &.key {background: url('icons/ui/key.svg') $offset $offset no-repeat;}
    &.lock {background: url('icons/ui/lock.svg') $offset $offset no-repeat;}
    &.cart {background: url('icons/ui/cart.svg') $offset $offset no-repeat;}
    &.user {background: url('icons/ui/user.svg') $offset $offset no-repeat;}
    &.user-social {background: url('icons/ui/user-social.svg') $offset $offset no-repeat;}
    &.eye {background: url('icons/ui/eye.svg') $offset $offset no-repeat;}
    &.pano {background: url('icons/ui/panorama.svg') $offset $offset no-repeat;}
    &.camera {background: url('icons/ui/camera.svg') $offset $offset no-repeat;}
    &.menu {background: url('icons/ui/menu.svg') $offset $offset no-repeat;}
    &.folder {background: url('icons/ui/folder.svg') $offset $offset no-repeat;}
    &.zip {background: url('icons/ui/zip.svg') $offset $offset no-repeat;}
    &.doc {background: url('icons/ui/doc.svg') $offset $offset no-repeat;}
    &.printer {background: url('icons/ui/printer.svg') $offset $offset no-repeat;}
    &.html5 {background: url('icons/ui/html5.svg') $offset $offset no-repeat;}
    &.css3 {background: url('icons/ui/css3.svg') $offset $offset no-repeat;}
    &.jquery {background: url('icons/ui/jquery.svg') $offset $offset no-repeat;}
    &.angular {background: url('icons/ui/angular.svg') $offset $offset no-repeat;}
    &.php {background: url('icons/ui/php.svg') $offset $offset no-repeat;}
    &.wordpress {background: url('icons/ui/wordpress.svg') $offset $offset no-repeat;}
    &.drupal {background: url('icons/ui/drupal.svg') $offset $offset no-repeat;}
    &.codeigniter {background: url('icons/ui/codeigniter.svg') $offset $offset no-repeat;}
    &.symfony {background: url('icons/ui/symfony.svg') $offset $offset no-repeat;}
    &.rss {background: url('icons/ui/rss.svg') $offset $offset no-repeat;}
    &.email {background: url('icons/ui/email.svg') $offset $offset no-repeat;}
    &.email2 {background: url('icons/ui/email2.svg') $offset $offset no-repeat;}
    &.phone {background: url('icons/ui/phone.svg') $offset $offset no-repeat;}
    &.phone2 {background: url('icons/ui/phone2.svg') $offset $offset no-repeat;}
    &.phone3 {background: url('icons/ui/phone3.svg') $offset $offset no-repeat;}
    &.chat {background: url('icons/ui/chat.svg') $offset $offset no-repeat;}
    &.mobile {background: url('icons/ui/mobile.svg') $offset $offset no-repeat;}
    &.laptop {background: url('icons/ui/laptop.svg') $offset $offset no-repeat;}
    &.desktop {background: url('icons/ui/desktop.svg') $offset $offset no-repeat;}
    &.w3c {background: url('icons/ui/w3c.svg') $offset $offset no-repeat;}
    &.creativecommons {background: url('icons/ui/creativecommons.svg') $offset $offset no-repeat;}
    &.android {background: url('icons/ui/android.svg') $offset $offset no-repeat;}
    &.linux {background: url('icons/ui/linux.svg') $offset $offset no-repeat;}
    &.mac {background: url('icons/ui/mac.svg') $offset $offset no-repeat;}
    &.mac2 {background: url('icons/ui/mac2.svg') $offset $offset no-repeat;}
    &.windows {background: url('icons/ui/windows.svg') $offset $offset no-repeat;}
    &.windows2 {background: url('icons/ui/windows2.svg') $offset $offset no-repeat;}
    }

}