/////
$c1 : #F0F0F0;
$c2 : #101010;
$c3 : #00B3DF;//hilight
/////

body {
    margin: 0;
    padding: 0;
    background: $c2;
    color: $c1;
}

h1 {
    margin: 0;
    padding: .5em;
}
h2 {
    text-align: left;
    margin:0 0 1em 0;
    padding: .5em 0 .5em 1em;
    background:$c3;
    color:$c1;
    z-index: 10;
    
        img {
            position: relative;
            bottom: .5em;
            float: right;
            padding: 0 0 1em 1em;
        }
}
h3 {
    text-align:left;
    margin:1em 0 .2em 0;
    padding: .5em 1em 0 10%;
    color:$c3;
        border-bottom: .2em solid;
}


p, 
code,
ul,
li,
.ui,
.panel{
    position: relative;
    display:block;
    max-width: 40em;
    margin: 1em auto 0 auto;
        padding: 1em;
}
pre,
code {
    clear: both;
    background: darken($c1, 10%);
}

ul,
li{
    margin:0 auto;
    padding:0;
}

/////

.section {
    position: relative;
    width: 90%;
    margin: 3em auto 0 auto;
    padding:0;
    border:$c3;
    background: $c1;
    color: $c2;
}

.description {
   //background: $c1;
}

.demo {
    margin: 1em auto 2em auto;
    padding: 1em;
    background: darken($c1, 10%);
}
.demo-marker {
    position: relative;
    bottom:1em;
    right: 2em;
    display:inline;
    padding: 1em 2em;
    background:$c3;
    color:$c1;
}


/////
.ui {
    margin:0 auto;
    padding:0;
}
.tabs {
    
        .title {
            margin: 0;
        }
}
.panel {
    margin:0;
    padding:1em;
}

.scrolli {
    font-size:1.4em;
}
.blocklink {
    background: #FEFEFE;
    border: #111 1px solid;
    
        &:hover {
            border-color: $c3;
        }
}
.equalize {
    position: relative;
    display: block;
}
.equalize > div {
    display: inline-block;
    vertical-align: text-top;
    width: 30%;
    margin: 1%;
    background: #FEFEFE;
}