.ui {
    display: block;
    margin:0 auto;
    max-width: 60em;
    padding:0;
    list-style:none;
    
    .title {
        margin: 0;
        padding: .5em 1em;
        cursor: pointer;
        background: #AAA;
        color: #FFF;
        font-size: .8em;
        
        &:hover {
            background:#777;            
        }        
    }
    .content {
        display:block;        
        padding: 1em;
        border: #DDD .1em solid;
        margin: 0;
        padding: 1em;
    }
    
    .active {
        
        .title{
            background:#111;
        }
    }
    &.next,
    &.back {
        position:absolute;
        top:0;
        bottom:0;
        display:block;
        width:3em;
        background:#222;
        background:rgba(40,40,40,0.2);
        color:#FFF;
        cursor: pointer;
    }
    &.next {right:0}
    &.back {left:0}
    
    &.menu {
        position: relative;
        list-style: none;
        width:20%;
        margin:0;
        padding:0; 
        z-index:10;
        
        a {
            background: #FEFEFE;
            color: #222;
            padding: 1em;
            
            &:hover,
            &:active,
            &:focus {
                background: #CCC;
                color: #111;
            }
        }
        
        &.mini {
            cursor:pointer;
            width:32px;
            height:32px;
            background: transparent url(images/menu.png) no-repeat;
            
            li {
                position:relative;
                top:32px;
                width:10em;
            }
        }
        
    }
    
    .tab { 
        display: inline-block;
        
        .title {
            display:inline-block;
            border-right:.1em solid;
        }
        .content {
        }
        
    }
    
    .panel {
        display: block;
        margin:0;
        padding:1em;
        background: #FFF;
        border: #DDD .1em solid;
    }
    /*
        .blocklink {
        display:block;
        padding:1em;
        background:#EEE;
        color:#555;
        border:1px solid;
        
        &:hover,
        &.active{
        background:#FFF;
        color:#111;
        }
        
        a {
        padding: .5em 1em;
        background:#333;
        color:#FFF;
        }
        
    */
    
    &.carousel {
        position: relative;
        display: block;
        overflow: hidden;
        margin:0;
        padding: 0 3em;
        background: #EEE;
        
        li {
            display: inline-block;
            padding:1em;
        }
    }
    
    &.sticky {
        position: absolute;
        top: 1em;
        left: 1em;
        background-color: #FFF;
        color: #111;
        border: .2em solid;
        list-style: disc;
        
        a {
            display: block;
            padding: .5em;
            font-size: 1.2em;
                background: #FFF;
            color: #111;
            
            &:visited {
                color: #555
            }
            &:hover,
            &:active,
            &:focus {
                background: #CCC;
                color: #111;
            }
        }
        
        &.mini {
            cursor:pointer;
            width:32px;
            height:32px;
            background: transparent url(images/menu.png) no-repeat;
            border: none;
            
            li {
                position:relative;
                top:32px;
                width:10em;
            }
        }
        
    }
}